.header {
    text-align: center;
    font-family: "Arial", Sans-serif;
    background-color: rgb(43,53,60);
    color: rgb(218,214,141);
    padding: 20px 4px;
    margin-top: -10px;
    margin-right: 100%;
    width: 100%;
    text-shadow: 4px 4px 0 rgb(79, 94, 105), 5px 5px 0 rgb(79, 94, 105), 6px 6px 0 rgb(79, 94, 105);
    letter-spacing: 0.1em;
}
