.header {
    text-align: center;
    font-family: "Arial", Sans-serif;
    background-color: rgb(43,53,60);
    color: rgb(218,214,141);
    padding: 40px 15px;
    margin-top: -10px;
    margin-right: 100%;
    width: 100%;
}