.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(43,53,60);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(218,214,141);
    font-family: "Arial", Sans-serif;
    display: block;
    text-shadow: 4px 4px 0 rgb(79, 94, 105), 5px 5px 0 rgb(79, 94, 105), 6px 6px 0 rgb(79, 94, 105);
    letter-spacing: 0.1em;
}

.sidenav a:hover {
    color: rgb(161, 159, 120);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}