.opisaniT {
    position: relative;
    z-index: 2;
    font-size: 15pt;
    color: rgb(218,214,141);
}

.textT {
    position: relative;
    z-index: 2;
    font-size: 20pt;
    color: rgb(255, 249, 140);
}

.Toyota{
    background-color: rgb(43,53,60);
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    transition: 0.9s;
    width: 300px;
    height: 400px;
    border: 0;
    margin-left: 45%;
    border-radius: 10px 10px 10px 40px;
}

.Toyota:hover {
    background-color: rgb(112, 126, 136);
}

.Toyota::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(79, 94, 105);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: 0.35s;
}

.Toyota:hover::after {
    transform: translateX(0);
}